
<hr class="my-4">
<div class="jumbotron bg-light">
  <h1 class="display-4">
  <h2 class="font-weight-lighter"><h2><%= current_user.username %>'s Enrollment </h2>
        <hr class="my-4">
        <p class= "lead">
        <p><strong> Instrument: </strong><%= @enrollment.instrument.name %></p>
        <p><strong> Student's FullName: </strong><%= @enrollment.student %></p>
        <p><strong> Session Start Date: </strong><%= @enrollment.startdate.strftime("%b %d,%Y") %></p>
        <p><strong> Level: </strong><%= @enrollment.level %></p>
        <p><strong> Price: </strong><%= number_to_currency(@enrollment.price) %></p>
        <p><strong> Duration: </strong><%= @enrollment.duration %> weeks</p>
        
        <%= link_to "View Your Enrollments", user_path(@current_user) ,class: "btn btn- btn-warning text-white"%> 
    
        <p><%= form_tag(enrollment_path(@enrollment.id), method: :delete) do %></p>
        <%= submit_tag "Delete Enrollment", data: { confirm: "Are you sure you want to delete the lesson?"}, class: "btn btn-xs btn-danger" %>
      <% end %>     
</div>

