<h1>Create New Instrument</h1>

<% if @instrument.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@instrument.errors.count, "error") %> Errors,Can't Save:</h2> 

    <ul>
      <% @instrument.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @instrument do |f| %>
    <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder:"Add New Instrument" %><br>
    </div>
      <%= f.submit class: "btn btn-warning text-white" %> 
<% end %>

<br>
  <%= link_to 'Show', @instruments, class: "btn btn-warning text-white" %>
  <%= link_to 'Back', lessons_path, class: "btn btn-warning text-white" %>
<br>
<hr class="my-4">